*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: '微软雅黑';
}
ul,li{
    list-style: none;
    margin: 0;
    padding: 0;
}
:focus,:active{
    outline:0;
}
a:hover,a:link,a:visited {
    text-decoration:none;
}
input:-webkit-autofill{
    -webkit-box-shadow: 0 0 0 400px #fff inset!important;
    -webkit-text-fill-color: #666666!important;
}
button,input,select,textarea {
    border: none;
    -webkit-transition:all .35s;
    -moz-transition:all .35s;
    -o-transition:all .35s;
    resize: none!important;
}
button{
    cursor: pointer;
}
button[disabled]{
    cursor: not-allowed;
    opacity: .5;
}
#app,body,html{
    width: 100%;
    height: 100%;
    overflow: hidden;
    user-select: none;
    background: transparent none !important;
}
